@model Mercadona.Models.Category

@{
    ViewData["Title"] = "Delete";
}


<h2>
    Voulez vous supprimer cette catégorie ?
</h2>
<div class="container mt-5 my-4">
    
    <dl class="row mt-4">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <form asp-action="Delete" class="mt-2">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Supprimer</button> | <a asp-action="Index" class="btn btn-success">Retour</a>

    </form>
</div>